:root {
    --main-color: #dab67d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}

/* NanBar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    gap: 50px;
    font-size: 22px;
    background-image: linear-gradient(to bottom, #000, rgba(255, 255, 255, 0));
}

nav a {
    min-width: 150px;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    text-shadow: 0 0 3px #000;
    padding: 10px 30px;
}

nav a.active-nav {
    background-image: url("img/nav-border.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* main */
main {
    background-image: url("img/background.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* sections */
main section {
    height: 100%;
}

main section.active-section {
    animation: appear 1s;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

main section.inactive-section {
    display: none !important;
}

.line {
    display: block !important;
    height: fit-content;
    border-top: 2px solid var(--main-color);
    margin-bottom: 10px;
}

.line img {
    border: none !important;
    transform: translateY(-3px);
}

/* home */
#home {
    background-image: url("img/Wuthering-Waves-Jinhsi-Feature-Art.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
}

#home div h1 {
    font-size: 34px;
    animation: name-appear 1.5s;
}

@keyframes name-appear {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}

#home div h3 {
    animation: title-appear 1.5s;
    margin: 5px 0;
}

@keyframes title-appear {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

#home div div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: rarity-appear 1.5s;
}

@keyframes rarity-appear {
    0% {opacity: 0;}
    55% {opacity: 0;}
    100% {opacity: 1;}
}

#home > div {
    display: grid;
    place-content: center;
    width: 400px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 30px 0 30px 0;
    border: 3px solid var(--main-color);
    outline: 3px solid #000;
    animation: name-container 1.5s;
}

@keyframes name-container {
    from {width: 0;}
    to {width: 400px;}
}

#home div div img:first-child{
    width: 50px;
}

#home span {
    position: fixed;
    right: 30px;
    bottom: 50px;
    display: grid;
    place-items: center;
    gap: 5px;
    font-weight: bold;
    animation: scroll 5s infinite;
}

@keyframes scroll {
    0%   {transform: translateY(0px);}
    50%  {transform: translateY(30px);}
    100% {transform: translateY(0px);}
}

#home span img {
    width: 20px;
}

/* materials */
#material {
    display: grid;
    place-content: center;
    padding-top: 100px;
}

#ascension {
    animation: ascension-translateY 1s;
}

@keyframes ascension-translateY {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#material div div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

#forte {
    margin-top: 30px;
    animation: forte-translateY 1s;
}

@keyframes forte-translateY {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#material span {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    text-shadow: 0 0 5px #000;
}

#material img {
    width: 40px;
    background-color: #000;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin-right: 5px;
}

/* echoes */
#echo {
    background-image: url("img/jue.png");
    background-size: cover;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: right;
    align-content: center;
    gap: 50px;
    font-weight: bold;
    padding-top: 50px;
    padding-right: 5%;
}

#echo h1 {
    text-shadow: 0 0 5px #000;
}

#echo ul, #echo ol {
    width: 250px;
    height: 135px;
    background-color: #474747;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    padding: 15px;
}

#echo li {
    margin-left: 15px;
}

/* weapons */
